.contact {
  margin: 50px 0;
}

.contact__title {
  margin-bottom: 30px;
  text-align: center;
}
.contact__title h2 {
  display: inline-block;
  border-bottom: 3px solid #444;
  padding-bottom: 7px;
}

.contact__image img {
  width: 100%;
  border: 5px solid #eee;
}

.contact__form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__input {
  padding: 7px;
  border: 1px solid rgb(200, 200, 200);
}

.contact__textarea {
  padding: 7px;
  border: 1px solid rgb(200, 200, 200);
}

.contact__btn {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  background-color: #eb2a46;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin: 70px 0;
  }

  .contact__form {
    margin-top: 5px;
  }
}

@media screen and (min-width: 992px) {
  .contact__content {
    padding: 0 80px;
  }
}
